<div class="logo">
    <a class="simple-text logo-normal" href=""> Headings </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerlinkactive="active" class="nav-item active">
            <a href="#/dashboard">
                <i class="fa-brands fa-think-peaks"></i>
            <p>Dashboard</p>
        </a>
        </li>
        <li routerlinkactive="active" class=" nav-item">
            <a href="#/icons">
                <i class="fa-brands fa-think-peaks"></i>
                <p>Icons</p>
            </a>
        </li>
    </ul>
</div>